@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    height: calc(var(--vh) * 100);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--color3);
    border: solid 3px transparent;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
